h1{ color:white;font-size: 50px;font-style: italic;text-align: center;background-color: black;}
h2{ color:white;font-size: 50px;font-style: italic;text-align: center;background-color: black;}
h3{ font-size: 50px;}
h4{
 font-size: 50px;
}
.link:hover{
    color: white;
    background: black;
}
.link:hover{
    color: white;
    background: black;
}